/* Ionic Variables */
:root {
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
}

.result-item {
    width: 100%;
    text-align: left;
    background: white;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.result-item h3 {
    margin: 0 0 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.result-item h3 .pill {
    font-size: 12px;
    padding: 2px 6px;
    background: #eee;
    margin-left: 8px;
    border-radius: 4px;
}
